[Unit]
Description=Rock Talk App

[Service]
ExecStart=/home/rocktalk/rocktalk-pi/start.sh
WorkingDirectory=/home/rocktalk/rocktalk-pi
Restart=always
LimitNOFILE=4096
IgnoreSIGPIPE=false
KillMode=process
User=rocktalk

[Install]
WantedBy=multi-user.target