[Unit]
Description=Rock Talk App

[Service]
ExecStart=/home/rocktalk/rock-talk-rpi/start.sh
WorkingDirectory=/home/rocktalk/rock-talk-rpi
Restart=always
LimitNOFILE=4096
IgnoreSIGPIPE=false
KillMode=process
User=rocktalk

[Install]
WantedBy=multi-user.target