[Unit]
Description=RockTalk
After=network.target

[Service]
Type=simple
User=rocktalk
WorkingDirectory=/home/rocktalk/rocktalk-pi
ExecStart=/home/rocktalk/rocktalk-pi/start.sh
Restart=no
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target